@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* カルーセル */

.carousel .control-arrow:hover {
  background: rgba(0, 0, 0, 0.2);
}

.carousel .control-prev.control-arrow:before {
  content: '❮';
}

.carousel .control-next.control-arrow:before {
  content: '❯';
}
